{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <h5 class="font-weight-normal text-center">Цвет</h5>
                {% for color in color_choices %}
                    <label class="btn btn-secondary">
                        <input type="checkbox" name="color" value="{{ color }}"> <small>{{ color }}</small>
                    </label>
                {% endfor %}
            <h5 class="font-weight-normal text-center">Раса</h5>
            {% for race in race_choices %}
                <label class="btn btn-secondary">
                    <input type="checkbox"> <small>{{ race }}</small>
                </label>
            {% endfor %}
            <h5 class="font-weight-normal text-center">Свойства</h5>
            {% for prop in properties %}
                <label class="btn btn-secondary">
                    <input type="checkbox"> <small>{{ prop.name }}</small>
                </label>
            {% endfor %}
        </div>
        <div class="col-md-6 p-0">
            {% for hero in heroes_SSR %}
                <img src="{{ hero.icon }}" width="53px" height="53px">
            {% endfor %}
            <hr>
            {% for hero in heroes_SR %}
                <img src="{{ hero.icon }}" width="53px" height="53px">
            {% endfor %}
            <hr>
            {% for hero in heroes_R %}
                <img src="{{ hero.icon }}" width="53px" height="53px">
            {% endfor %}
        </div>
        <div class="col-md-3">
            <input class="form-control" type="text" placeholder="Поиск по уникальности">
            <br>
            <div style="height: calc(100vh - 10rem); overflow: auto">
                {% for hero in heroes_SSR %}
                    <img src="{{ hero.icon }}" width="53px" height="53px" align="left">
                    <small>{{ hero.uniqueness }}</small><hr>
                {% endfor %}
                {% for hero in heroes_SR %}
                    <img src="{{ hero.icon }}" width="53px" height="53px" align="left">
                    <small>{{ hero.uniqueness }}</small><hr>
                {% endfor %}
                {% for hero in heroes_R %}
                    <img src="{{ hero.icon }}" width="53px" height="53px" align="left">
                    <small>{{ hero.uniqueness }}</small><hr>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
