{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
    <div class="row justify-content-md-center">
        <div class="col-md-3">
            <form method="post">
                {% csrf_token %}
                {{ login_form.username }}<br>
                {{ login_form.password }}<br>
                <button type="submit" name="log_in" class="btn btn-success">Войти</button>
                <button type="submit" name="create_user" class="btn btn-primary">Создать пользователя</button>
            </form>
        </div>
    </div>
{% endblock %}