{% extends 'main/base.html' %}

{% block title %}
Seven deadly sins: grand cross
{% endblock %}

{% block body %}
    <h1>Новый герой</h1>
    <form method="post">
        {% csrf_token %}
        {{ heroes_form }}<br>
        <button type="submit" name="add_hero" class="btn btn-success">Создать героя</button><br>
    </form>
    <form method="post">
        {% csrf_token %}
        {{ properties_form.name }}<br>
        <button type="submit" name="add_property" class="btn btn-success">Добавить свойство</button><br>
    </form>
{% endblock %}
